@charset "utf-8";

body {
  margin: 0 auto;
  text-align: center;
}

.container {
  margin-top: 200px;
}

.container p {
  padding-top: 40px;
  padding-bottom: 150px;
}

.container a {
  text-decoration: none;
  background-color: #c0c0c0;
  color: #fff;
  padding: 0.5em 1em;
  border-bottom: solid 4px #a9a9a9;
  border-radius: 4px;
}
